# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data and artifacts
data/bronze/
data/silver/
data/gold/
data/interim/
models/
artifacts/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
notebooks/.ipynb_checkpoints
